/*--------------*/
/*matteo*/
#matteo{
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #333333;
        display: flex;
        justify-content: center;
        /* fixed top bar */
        position: fixed;
        top: 0;
        width: 100%;
    }
    
    ul li a {
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    ul li a:hover {
        background-color: #111111;
    }
}
/*--------------*/
/*francesco*/
/*--------------*/
/*alex*/
/*--------------*/
/*riccardo*/
/*--------------*/
#riccardo{
    background-color: #666666;
    position: fixed;
    bottom: 0;

    div{
        text-align: center;
        width: 49%;
        display: inline-block;
    }
    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: inherit;
    }
}